@model PagedResultModel<ActivityViewModel>

@{
    ViewData["Title"] = "Activity List";
    string fromDateStr = ViewBag.currentFromDateParam != null
        ? ViewBag.currentFromDateParam.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')
        : null;

    string toDateStr = ViewBag.currentToDateParam != null
        ? ViewBag.currentToDateParam.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')
        : null;
}

<!-- Header of page --->
<div class="page-title-box border-bottom">
    <h4 class="page-title">
        Activity Log
    </h4>
</div>

<!-- Search zone --->
<div class="float-right py-2">
    <form class="form-inline" asp-action="Index" asp-controller="Activity" method="get">
        <div class="form-group mx-2">
            <label class="control-label"></label>
            <input name="FirstName" class="form-control" placeholder="Search first name" value="@ViewBag.currentFirstNameParam" />
        </div>
        <div class="form-group mx-2">
            <label class="control-label"></label>
            <input name="LastName" class="form-control" placeholder="Search last name" value="@ViewBag.currentLastNameParam" />
        </div>

        <select
            id = "activtyTypeSelect"
            name="ActivityType"
            class="form-control mx-2">
            <option value="0">Choose an action</option>
            <option value="1">Create a task</option>
            <option value="2">Update a task</option>
            <option value="3">Add new participants</option>
            <option value="4">Remove a participant</option>
            <option value="5">Create a user</option>
            <option value="6">Update a user</option>
            <option value="7">Delete a user</option>
            <option value="8">Post a comment</option>
            <option value="9">Delete a comment</option>
            <option value="10">Upload a file</option>
            <option value="11">Delete a task</option>
        </select>
        <input type="datetime-local" name="FromDate" value="@fromDateStr">
        &nbsp;
        ~
        &nbsp;
        <input type="datetime-local" name="ToDate" value="@toDateStr">

        <a asp-action="Index" asp-asp-controller="Activity" class="btn btn-default mx-2 box-shadow">
            Clear all
        </a>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<!-- Activity log table --->
@if (Model.Data.Any())
{
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Detail
                </th>
                <th>
                    Action
                </th>
                <th>
                    At a time
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in Model.Data)
            {
                <tr>
                    <!-- Base on activity log type to display detail and action correctly --->
                    @switch (activity.ActivityType)
                    {
                        case ActivityTypeEnum.CreateTodo:
                            {
                                <td width="60%">
                                    <strong>@activity.LastName @activity.FirstName</strong>
                                    (@activity.Email) created a new task name
                                    "@activity.Description"
                                    at @activity.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                </td>
                                <td width="20%">Create a new task</td>
                                break;
                            }
                        case ActivityTypeEnum.UpdateTodo:
                            {
                                <td width="60%">
                                    <strong>@activity.LastName @activity.FirstName</strong>
                                    (@activity.Email) update a task name
                                    "@activity.Description"
                                    at @activity.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                </td>
                                <td width="20%">Update task</td>
                                break;
                            }
                        case ActivityTypeEnum.AddParticipantsToTodo:
                            {
                                <td width="60%">
                                    <strong>@activity.LastName @activity.FirstName</strong>
                                    (@activity.Email) added
                                    @activity.Description
                                    at @activity.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                </td>
                                <td width="20%">Add new participants</td>
                                break;
                            }
                        case ActivityTypeEnum.RemoveAParticipantFromTodo:
                            {
                                <td width="60%">
                                    <strong>@activity.LastName @activity.FirstName</strong>
                                    (@activity.Email) removed
                                    @activity.Description
                                    at @activity.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                </td>
                                <td width="20%">Remove a participant</td>
                                break;
                            }
                        case ActivityTypeEnum.CreateUser:
                            {
                                <td width="60%">
                                    <strong>@activity.LastName @activity.FirstName</strong>
                                    (@activity.Email) created a new user
                                    @activity.Description
                                    at @activity.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                </td>
                                <td width="20%">Create new user</td>
                                break;
                            }
                        case ActivityTypeEnum.UpdateUser:
                            {
                                <td width="60%">
                                    <strong>@activity.LastName @activity.FirstName</strong>
                                    (@activity.Email) updated information of a user
                                    @activity.Description
                                    at @activity.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                </td>
                                <td width="20%">Update user</td>
                                break;
                            }
                        case ActivityTypeEnum.DeleteUser:
                            {
                                <td width="60%">
                                    <strong>@activity.LastName @activity.FirstName</strong>
                                    (@activity.Email) deleted the user
                                    @activity.Description
                                    at @activity.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                </td>
                                <td width="20%">Delete user</td>
                                break;
                            }
                        case ActivityTypeEnum.PostComment:
                            {
                                <td width="60%">
                                    <strong>@activity.LastName @activity.FirstName</strong>
                                    (@activity.Email) posted a comment
                                    @activity.Description
                                    at @activity.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                </td>
                                <td width="20%">Post a comment</td>
                                break;
                            }
                        case ActivityTypeEnum.DeleteComment:
                            {
                                <td width="60%">
                                    <strong>@activity.LastName @activity.FirstName</strong>
                                    (@activity.Email) Delete a comment
                                    @activity.Description
                                    at @activity.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                </td>
                                <td width="20%">Delete a comment</td>
                                break;
                            }
                        case ActivityTypeEnum.UploadFile:
                            {
                                <td width="60%">
                                    <strong>@activity.LastName @activity.FirstName</strong>
                                    (@activity.Email) Upload a file name
                                    @activity.Description
                                    at @activity.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                </td>
                                <td width="20%">Upload a file</td>
                                break;
                            }
                        case ActivityTypeEnum.DeleteTodo:
                            {
                                <td width="60%">
                                    <strong>@activity.LastName @activity.FirstName</strong>
                                    (@activity.Email) delete a task
                                    @activity.Description
                                    at @activity.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                </td>
                                <td width="20%">Upload a file</td>
                                break;
                            }
                    }
                    <td width="20%">@activity.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Pagination --->
    <nav class="float-right" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a
                    class="page-link"
                    asp-action="Index"
                    asp-controller="Activity"
                    asp-route-firstName="@ViewBag.currentFirstNameParam"
                    asp-route-lastName="@ViewBag.currentLastNameParam"
                    asp-route-activityType="@ViewBag.currentActivityTypeParam"
                    asp-route-fromDate="@ViewBag.currentFromDateParam"
                    asp-route-toDate="@ViewBag.currentToDateParam"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.TotalPage; i++)
            {
                @if(i == Model.CurrentPage)
                {
                    <li class="page-item active">
                        <a
                            asp-action="Index"
                            asp-route-firstName="@ViewBag.currentFirstNameParam"
                            asp-route-lastName="@ViewBag.currentLastNameParam"
                            asp-route-activityType="@ViewBag.currentActivityTypeParam"
                            asp-route-fromDate="@ViewBag.currentFromDateParam"
                            asp-route-toDate="@ViewBag.currentToDateParam"
                            asp-controller="Activity"
                            asp-route-page="@i"
                            class="page-link">
                            @i
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a
                            asp-action="Index"
                            asp-route-firstName="@ViewBag.currentFirstNameParam"
                            asp-route-lastName="@ViewBag.currentLastNameParam"
                            asp-route-activityType="@ViewBag.currentActivityTypeParam"
                            asp-route-fromDate="@ViewBag.currentFromDateParam"
                            asp-route-toDate="@ViewBag.currentToDateParam"
                            asp-controller="Activity"
                            asp-route-page="@i"
                            class="page-link">
                            @i
                        </a>
                    </li>
                }
            }
            <li class="page-item">
                <a
                    class="page-link"
                    asp-action="Index"
                    asp-route-firstName="@ViewBag.currentFirstNameParam"
                    asp-route-lastName="@ViewBag.currentLastNameParam"
                    asp-route-fromDate="@ViewBag.currentFromDateParam"
                    asp-route-toDate="@ViewBag.currentToDateParam"
                    asp-route-activityType="@ViewBag.currentActivityTypeParam"
                    asp-controller="Activity"
                    asp-route-page="@Model.TotalPage"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}
else
{
    <div class="clearfix"></div>
    <div class="mt-3">
        <h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-info-circle"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                <circle cx="8" cy="4.5" r="1" />
            </svg>
            No activities found
        </h1>
    </div>
}

@section Scripts {
    <script>
        $(function() {
            $("#activtyTypeSelect").val(@ViewBag.currentActivityTypeParam);
        });
    </script>
}
