@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "List";
}

<div class="page-title-box border-bottom">
    <h4 class="page-title">
        All Users <a class="btn btn-success btn-sm ml-3" asp-controller="User" asp-action="Create">Add New User</a>
    </h4>
</div>

@if (Model.Any())
{
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    UserId
                </th>
                <th>
                    FullName
                </th>
                <th>
                    Email
                </th>
                <th>
                    PhoneNumber
                </th>
                <th>
                    RoleName
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td width="30%">@user.Id</td>
                    <td width="25%">@user.FullName</td>
                    <td width="25%">@user.Email</td>
                    <td width="20%">@user.PhoneNumber</td>
                    <td width="20%">@user.Role</td>
                    @if (@user.Role != "Admin")
                    {
                        <td>
                            <div class="col-sm-1 dropdown card-widgets text-right">
                                <a href="#"
                                   class="dropdown-toggle arrow-none"
                                   data-toggle="dropdown"
                                   aria-expanded="false">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                    </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a class="dropdown-item" asp-action="Edit"
                                       asp-controller="User"
                                       asp-route-id="@user.Id">
                                        <i class="uil uil-file-upload mr-1"></i>Edit
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <!-- item-->
                                    <a class="dropdown-item text-danger" asp-action="Delete"
                                       asp-controller="User"
                                       asp-route-id="@user.Id"
                                       onclick="return confirm('Are you sure to delete this user: @user.Email')">
                                        <i class="uil uil-trash-alt mr-1"></i>Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>No user exists</h1>
}

@if (@TempData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["Message"]");
        }
    </script>
}