@model TodoUpdateModel;

@{
    ViewData["Title"] = "Edit";

    
}


@*Todo Info*@
<div class="container">
    <input type="hidden" value="@Model.TodoId" id="todoIdHidden" />
    @await Html.PartialAsync(
        "_TitleAndGoBackBtnPartial",
        new ViewDataDictionary(ViewData) { { "PageH1Title", "Task Information" } }) 
    <form asp-action="Edit" asp-controller="Todo" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.TodoInfo.Name" class="control-label"></label>
            <input asp-for="@Model.TodoInfo.Name" class="form-control" />
            <span asp-validation-for="@Model.TodoInfo.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.TodoInfo.Description" class="control-label"></label>
            <textarea asp-for="@Model.TodoInfo.Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="@Model.TodoInfo.Description" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="form-group col">
                <label asp-for="@Model.TodoInfo.StartDate" class="control-label"></label>
                <input asp-for="@Model.TodoInfo.StartDate" class="form-control" />
                <span asp-validation-for="@Model.TodoInfo.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="@Model.TodoInfo.EndDate" class="control-label"></label>
                <input asp-for="@Model.TodoInfo.EndDate" class="form-control" />
                <span asp-validation-for="@Model.TodoInfo.EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.TodoInfo.PersonInChargeId" class="control-label"></label>
                @if(User.IsInRole("Boss"))
                {
                    <select 
                            class="form-control"
                            asp-for="@Model.TodoInfo.PersonInChargeId"
                            asp-items="@(new SelectList(Model.AllUsers,"Id","FullName"))">
                        <option>Please select one</option>
                    </select>
                }
                else
                {
                    <p class="p-2 border rounded" style="background: #fff">@Model.TodoInfo.PersonInCharge.FullName</p>
                    <input type="hidden" asp-for="@Model.TodoInfo.PersonInChargeId" value="@Model.TodoInfo.PersonInChargeId"/>
                }
                <span asp-validation-for="@Model.TodoInfo.PersonInChargeId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.TodoInfo.Status" class="control-label"></label>
                <select asp-for="@Model.TodoInfo.Status"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<TodoStatusEnum>()">
                </select>
                <span asp-validation-for="@Model.TodoInfo.Status" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.TodoInfo.Scope" class="control-label"></label>
                <select asp-for="@Model.TodoInfo.Scope"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<TodoScopeEnum>()">
                </select>
                <span asp-validation-for="@Model.TodoInfo.Scope" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mt-2">
            <input type="submit" value="Update task information" class="btn btn-primary btn-block" />
        </div>
    </form>

    @*Participant list*@
    <div class="d-flex flex-fill justify-content-between">
        <div class="pr-4" style="flex-basis: 40%">
            <h1 class="border-bottom mb-2">Participants</h1>
            <div class="mb-2">
                @foreach (var participant in Model.Participants)
                {
                    <div class="d-flex align-items-center mb-2">
                        <div style="flex-basis: 80%">
                            <p class="no-margin-padding">@participant.FullName</p>
                            <small>@participant.Email</small>
                        </div>
                        <div class="px-2" style="flex-basis: 20%">
                            <button
                                    style="outline: none"
                                    class="text-danger btn remove-a-participant-btn"
                                    value="@participant.Id">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                 }
            </div>
            <!-- Button trigger modal -->
            <button
                    type="button"
                    class="btn btn-primary btn-block"
                    data-toggle="modal"
                    data-target="#addNewParticipantModal">
                Add new participant
            </button>

            <!-- Add participant -->
            <div class="modal fade" id="addNewParticipantModal" tabindex="-1" aria-labelledby="addNewParticipantModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addNewParticipantModalLabel">Add new participant</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @foreach (var item in Model.UsersNotInTodo)
                            {
                                <div class="d-flex mb-3">
                                    <div class="px-2" style="flex-basis: 15%">
                                        <input 
                                               value="@item.Id"
                                               style="width: 1.2em; height: 1.2em"
                                               class="mt-2 user-not-in-todo-checkbox"
                                               type="checkbox" />
                                        <input class="user-not-in-todo-hidden" type="hidden" name="selectedUserId" value="@item.Id" />
                                    </div>
                                    <div class="px-2" style="flex-basis: 85%">
                                        <p class="no-margin-padding">@item.FullName</p>
                                        <small>@item.Email</small>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="modal-footer">
                            <button 
                                id="addNewParticipantsBtn"
                                type="button"
                                class="btn btn-primary">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pr-4" style="flex-basis: 40%">
            <h1 class="border-bottom">Attachment</h1>
            <div class="mb-2">
                <div>
                    John Doe
                </div>
                <div>
                    Lil Pun
                </div>
            </div>
            <button 
                    type="button"
                    id="addNewAttachmentBtn"
                    class="btn btn-primary btn-block">
                Add new attachment
            </button>
        </div>
        <div></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/edit-todo-script.js" asp-append-version="true"></script>
}
